beautifulsoup4
channels
channels-redis
Django
django-colorful
django-cors-headers
django_cron
django-polymorphic
djangorestframework
django-timezone-field
parameterized
Pillow
psycopg2-binary
pytest
pytest-django
requests
tzdata